.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.general-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}

.hide-element {
    display: none;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.shadow-element {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.78);
}

.center-mdl-icon-text {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}