a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: white!important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #28738b;
    transition: 0.3s;
}

.sb-color1 {
    background-color: #0f2c35!important;
}

.sb-color2 {
    background-color: #1e5567!important;
}

.sb-color3 {
    background-color: #cddcdb!important;
}

.sb-color4 {
    background-color: #0b2027!important
}

.sb-color--text1 {
    color: #0f2c35!important;
}

.sb-color--text2 {
    color: #1e5567!important;
}

.sb-color--text3 {
    color: #cddcdb!important;
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 32px;
    padding: 0px 56px;
}

@media screen and (max-width: 1128px) {
    h3 {
        font-size: 28px;
    }
    h5 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-drawer>.mdl-layout__content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        padding: 0px 32px;
    }
    h3 {
        font-size: 26px;
    }
    h5 {
        font-size: 12px;
    }
}


/* ========= SUB DRAWER ========= */

.mdl-layout__subdrawer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    color: #b37b7b;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}

.mdl-layout__subdrawer>.mdl-layout__title,
.mdl-layout__subdrawer>.mdl-layout-title {
    line-height: 64px;
    padding-left: 40px;
}

.mdl-layout__subdrawer.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (min-width: 1025px) {
    .mdl-layout--fixed-drawer>.mdl-layout__subdrawer {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.mdl-layout__subdrawer-button {
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    margin: 8px 12px;
    top: 0;
    right: 0;
    color: rgb(66, 66, 66);
    z-index: 4;
}

.mdl-layout__subobfuscator.is-visible {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
    visibility: visible;
}

.mdl-layout__subobfuscator {
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition-property: opacity;
    visibility: visible;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@supports (pointer-events:auto) {
    .mdl-layout__subobfuscator {
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        transition-property: opacity;
        visibility: visible;
        pointer-events: none
    }
}


/* ================================= */

textarea.sb-textarea {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.icon-text-container {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.image-multext-container {
    overflow: auto;
}

.image-multext-img {
    float: left;
    width: 50px;
    height: 50px;
}

.image-multext-multext {
    margin-left: 65px;
    margin-right: 50px;
}

.item-post-card .mdl-button {
    font-size: 10px;
}

.sb-badge-button {
    border-radius: 20px;
    margin: 5px 6px 5px 0px;
    padding: 0 0 0 16px;
    line-height: 28px;
    height: 28px;
}

.sb-badge-button>.material-icons {
    font-size: 16px;
}

.sb-badge-button__text {
    margin: 0px 10px;
    font-size: 10px;
}

.sb-badge-button__badge {
    height: 100%;
    width: auto;
    border-radius: 0 0 14px;
    font-size: 12px;
    padding: 0 8px;
    border-left: #ddd solid 1px;
}

.mdl-badge[data-badge]:after {
    top: -10px;
    right: -30px;
    width: fit-content;
    padding: 0px 5px;
    border-radius: 10px;
}


/* ========= CUSTOM CARD CSS ========= */

.sb-card-segment {
    border-top: rgba(0, 0, 0, 0.05) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.05) solid 1px;
    margin: 0px;
    width: 100%;
    padding: 16px;
}

.sb-card-title {
    border-top: rgba(0, 0, 0, 0.1) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    margin: 0px;
    width: 100%
}


/* ========= POST ADD FORM ========= */

.sb-post-add-form {
    padding: 0px;
}


/* ========= POST ADD FORM ========= */

.sb-post-item-body {
    font-size: 22px!important;
    color: black!important;
    padding: 8px 24px!important;
    line-height: 1.6!important;
    margin: 0px!important;
    word-break: break-word;
}

.sb-post-item--display-image {
    max-height: 200px;
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
}

#general-modal {
    width: auto;
    max-height: 90vh;
    overflow: auto;
}

@media screen and (min-width: 1025px) {
    #general-modal {
        margin: 0px 312px;
    }
}

@media screen and (max-width: 1024px) {
    #general-modal {
        margin: 0px 48px;
    }
}

.sb-rmp {
    padding: 0px!important;
}

.sb-rmm {
    margin: 0px!important;
    width: 100%;
}

.mdl-card {
    min-height: 0;
}

.sb-comment-segment {
    border-top: rgba(0, 0, 0, 0.1) solid 1px;
    margin: 0px;
    padding: 15px 30px;
    width: 100%;
}

.mdl-list__item.mdl-list__item--two-line:hover {
    background-color: #28738b;
    transition: 0.3s;
    cursor: pointer;
}

.sb-follow-button {
    cursor: pointer;
}

.sb-comment-action-button {
    height: unset!important;
    min-width: 0px!important;
    padding: 2px!important;
    line-height: unset!important;
}

.sb-reply-container {
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 0px 16px;
    overflow: visible;
    border: rgba(0, 0, 0, 0.25) solid 0.5px;
}